---
Checks: >
  -*,
  bugprone-*,
  clang-analyzer-*,
  modernize-*,
  performance-*,
  portability-restrict-system-includes,
  -bugprone-easily-swappable-parameters,
  -bugprone-exception-escape,
  -modernize-use-trailing-return-type,
  -performance-enum-size
WarningsAsErrors: "*"
HeaderFilterRegex: "^.*borophene/.*"
FormatStyle: file
...
